asgiref==3.12.1
attrs==26.1.0
django==6.1
django-cors-headers==4.9.0
djangorestframework==3.18.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
psycopg2-binary==2.9.12
pyjwt==2.13.0
pyyaml==6.0.3
referencing==0.37.0
rpds-py==2026.6.3
sqlparse==0.6.0
typing-extensions==4.16.0
uritemplate==4.2.0
django-redis==7.0.0
redis==8.1.0
pillow==12.3.0
reportlab==5.0.1
openpyxl==3.1.5
gunicorn==26.2.0
